<div class="row justify-content-center p-5">
  <div class="col-12 text-center container-title">
    <h1 class="fw-bold">Tareas</h1>
    <button class="btn btn-info sign-out" (click)="singOut()">
      <span>Cerrar sesión</span>
    </button>
  </div>
  <div class="col-sm-6">
    <form [formGroup]="taskForm">
      <div class="mb-3">
        <div class="form-group">
          <label>Título</label>
          <input
            type="text"
            class="form-control mb-2"
            formControlName="title"
            [ngClass]="{ 'is-invalid': tsubmitted && t['title'].errors }"
          />
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <input
            type="text"
            class="form-control mb-2"
            formControlName="description"
            [ngClass]="{ 'is-invalid': tsubmitted && t['description'].errors }"
          />
        </div>

        <div class="form-group">
          <label>Fecha de vencimiento</label>
          <input
            type="date"
            class="form-control"
            formControlName="expiration"
            placeholder="Fecha vencimiento"
            [ngClass]="{ 'is-invalid': tsubmitted && t['description'].errors }"
          />
        </div>
      </div>
      <div class="input-group-append cursor">
        <button (click)="addTask()" class="btn btn-sm btn-primary">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-start p-5 pt-0" *ngIf="tasks.length > 0">
  <div
    class="col-12 col-sm-6 col-md-4 mb-4"
    *ngFor="let task of tasks | orderBy : 'date' : true"
  >
    <div class="card" [ngClass]="{ 'is-checked': !task?.status }">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title">{{ task?.title }}</h5>
          </div>
          <div class="col-2">
            <input
              type="checkbox"
              class="form-check-input"
              id="task.id"
              [checked]="!task?.status"
              [value]="task?.status"
              (change)="onCheckChange(task, $event)"
            />
          </div>
        </div>
        <p class="card-text">{{ task?.description }}</p>
        <div class="row align-items-end">
          <div class="col-12 dates-text">
            <p class="fw-bold">Vencimiento</p>
            <div
              class="d-flex flex-row justify-content-start align-items-center"
            >
              <div class="me-2">
                <p>
                  {{ task?.expiration }}
                </p>
              </div>
              <div class="ms-2">
                <div *ngIf="!task?.status; else dangerIcon">
                  <i class="bi bi-calendar-check fs-4"></i>
                </div>
                <ng-template #dangerIcon>
                  <i
                    class="bi bi-exclamation-diamond-fill text-danger fs-4"
                    *ngIf="compareDates(task?.expiration, today)"
                  ></i>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-end mt-4">
          <div class="col">
            <button
              (click)="deleteTask(task)"
              class="btn btn-sm btn-danger float-right"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
